<%= form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>

    <div class="field">
    <%= f.label :ParkName %><br>
    <%= f.text_field :parkName %>
  </div>

    <div class="field">
    <%= f.label :parkAddress %><br>
    <%= f.text_field :parkAddress %>
  </div>

    <div class="field">
    <%= f.label :parkProfilePic %><br>
    <%= f.text_field :parkProfilePic %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
