<!DOCTYPE html>
<html>
<head>
  <title>NerdsWithoutWifi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="left_column">
	 <% @trips.each do |trip| %>
        <div class="left_column_trip_name"><%= trip.title %></div>
      <% end %>
</div>
<div class="right_column">
	<div class="top_column"></div>
</div>
<%= yield %>

</body>
</html>
