<!DOCTYPE html>
<html>
<head>
  <title>NerdsWithoutWifi</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="left_column">
	<%= image_tag("pic.jpg", :class => "left_column_pic") %>

	<p class="left_column_title">Trips Completed</p>
	<% if !@trips.nil? %>
	 <% @trips.each do |trip| %>
		<%= link_to trip.parkName, trip, class: "left_column_trip_name" %>
		<%= trip.content << "AA" %>
		<%= trip.save %>
		<div><%=trip.content%></div>
        <!--<div class="left_column_trip_name"><%= trip.title %></div>-->
      <% end %>
    <% end %>

    <p class="left_column_title">Next Trip</p>
    
    <!-- facebook like button
    <div
        class="fb-like"
        data-share="false"
        data-show-faces="true">
    </div>
    -->
    <% Trip::FB_ALBUM_ID %>


</div>
<div class="right_column">
	<div class="top_column"></div>
	<div class="bottom_column">
	<%= yield %>
	</div>
</div>


</body>
</html>
